.imageupload {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.imageupload__progress {
  width: 100%;
  margin: 5px;
}
.app__headerImage {
  object-fit: contain;
}
.imageUpload__button {
  cursor: pointer;
  border: none;
  padding: 10px;
  border-top: 1px solid lightgray;
  margin: 5px;
}
.imageupload__Caption {
  outline: none;
  border: none;
  border-top: 1px solid lightgray;
  padding: 10px;
  margin: 5px;
}
.imageupload__File {
  padding: 10px;
  margin: 5px;
}
